{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "strict": 0
  },
  "prop-types" : 0,
  "no-shadow" : 0,
  "no-case-declarations" : 0,
  "no-unused-expressions": 0,
  "no-noninteractive-element-interactions": 0,
  "click-events-have-key-events": 0,
  "no-array-index-key" : 0
}
