#export-csv {
  height: min-content;
  width: max-content;
  margin: 0 0 7px 0;
  padding: 10px;
  background-color: #242424;
  border: 1px solid #000000;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#export-csv:hover {
  background-color: #20b2aa;
  border: 1px solid #20b2b2;
  color: black;
}