.option-list {
  display: flex;
  padding: 0;
  margin: 0;
  height: min-content;
  justify-content: center;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  background-color: #cacaca;
  .option-item {
    height: 40px;
    font-size: 18px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #303030;
    button {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
    }
    img {
      width: 18px;
      height: 18px;
      margin: 0;
      padding: 0;
    }
    .sort-button {
      padding: 0 0 0 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .option-title {
        color: #000000;
        font-weight: bold;
        font-size: 20px;
        margin: 0;
      }
      .arrows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40px;
        height: 40px;
        .up-arrow-icon {
          transform: rotate(180deg);
        }
      }
    }
    .search-button {
      width: 40px;
      height: 40px;
    }
  
  }
  .sort-button:hover, .search-button:hover {
    background-color: #40bfe9;
  }
}

.option-item:first-child {
  width: 110px;
  border-left: 1px solid #303030;
  .sort-button {
    padding-right: 8px;
  }
}

.option-item:nth-child(2) {
  width: 215px;
  .sort-button {
    padding-right: 78px;
  }
}

.option-item:nth-child(3) {
  width: 130px;
  .sort-button {
    padding-right: 11px;
  }
}

.option-item:nth-child(4) {
  width: 210px;
  .sort-button {
    width: 170px;
    padding-right: 30px;
  }
}

.option-item:nth-child(5) {
  width: 160px;
  .sort-button {
    padding-right: 9px;
  }
}

.option-item:nth-child(6) {
  width: 350px;
  // text-overflow: ellipsis;
  .sort-button {
    width: 311px;
    padding-right: 214px;
  }
}

.option-item:nth-child(7) {
  width: 185px;
  .sort-button {
    padding-right: 19px;
  }
}
