.table {
  width: 1385px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-self: left;
  .table-body {
    width: 1385px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    .employee-options {
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: center;
      .employee-item {
        height: 40px;
        font-size: 18px;
        padding: 0px 5px;
        display: flex;
        justify-content: left;
        align-items: center;
        border-bottom: 1px solid #303030;
        border-right: 1px solid #303030;
        color:#000000;
        text-overflow: ellipsis;
        p {
          margin: 0;
        }
      }
    }
  }
}

.active-row {
  background-color: #9400d3 !important;
  .employee-item {
    color: #ffffff;
  }
}
.active-row:hover {
  background-color: #ee82ee !important;
  cursor: pointer;
  .employee-item {
    color: #000000;
  }
}

.employee-options:hover {
  background-color: #fffacd;
  cursor: pointer;
}
.employee-item:first-child {
  width: 95px;
  border-left: 1px solid #303030;
  justify-content: flex-end !important;
  padding-right: 10px !important;
}

.employee-item:nth-child(2) {
  width: 205px;
}

.employee-item:nth-child(3) {
  width: 120px;
  justify-content: center !important;
}

.employee-item:nth-child(4) {
  width: 200px;
}

.employee-item:nth-child(5) {
  width: 150px;
}

.employee-item:nth-child(6) {
  width: 340px;
}

.employee-item:nth-child(7) {
  width: 175px;
  justify-content: center !important;
}
