* {
  outline: none;
  user-select: none;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #ffffff;
  text-align: left;
  background-color: #ffffff;
  #root {
    margin: 0 auto;
    .container {
      width: 1440px;
      margin: 0 auto;
      header {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 400;
        padding: 0;
        margin: 0;
        margin-bottom: 40px;
        h1 {
          color: #1a1a1a;
          margin: 0;
          margin-bottom: 25px;
          display: flex;
          align-items: center;
        }
      }
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // #rows{
        //   background-color: #e9e9e9;
        // }
      }
    }
  }
}

